#mainCanvas{
border: 2px solid blue;
width: 310px;
height: 450px;
}

.btn_palette {
}

.btn_brushSizePlus {
}

.btn_brushSizeMinus {
	
}
.btn_undo {
	
}

.popupPalette {
    width:200px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px 0 0 -100px; /* [-(height/2)px 0 0 -(width/2)px] */
    display:none;
  }
